body, html {
    height: 100%;
    width: 100%;
}

body {
    background: $color-silver;
    font-family: $default-font-family;
    font-size: $default-font-size;
    overflow-x: hidden;
    overflow-y: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 0 2rem;
}