.container {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;

    @include media('>=sm') {
        max-width: 540px;
        margin: 1rem auto;
    }

    @include media('>=md') {
        max-width: 720px;
        margin: 3rem auto;
    }

    @include media('>=lg') {
        grid-template-columns: 1fr 2fr;
        max-width: 960px;
    }

    @include media('>=xl') {
        max-width: 1140px;
    }
}

.component {
    background: $color-white;
    padding: 2rem 1rem;
    border-radius: $default-border-radius;

    &--full-width {
        grid-column: 1 / -1;
    }
}