.btn {
    background-color: $color-turquoise;
    font-size: 0.875rem;
    color: $color-white;
    line-height: 1;
    padding: 0.8rem 1rem 0.75rem;
    margin: 1rem 0 0;
    border: none;
    border-radius: $default-border-radius;
    cursor: pointer;
}